
.button{
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    border: none;
    padding: 0;
    transition: padding ease-in 0.1s, margin ease-in 0.1s;
    &.padding{
        margin: 1px 3px;
        padding: 6px 20px;
    }
    &.padding:hover{
        margin: 0;
        padding: 7px 23px;
    }
    &.text{
        background-color: transparent;
        &.primary{
            color: #3860AD;
            &:hover{
                color:#3f6ab9;
            }
        }
        &.success{
            color: #46B13D;
            &:hover{
                color:#55c04b;
            }
        }
        &.neutral{
            color: #999999;
            &:hover{
                color:#acacac;
            }
        }
        &.error{
            color: #EE6363;
            &:hover{
                color:#f57676;
            }
        }
    }
    &.contained{
        &.success{
            
            background-color: #46B13D;
            color: white;
            &:hover{
                outline: 2px solid #46B13D50;
                background-color: #55c04b;
            }
        }
        &.neutral{
            
            background-color: #d8d8d8;
            color: #999999;
            &:hover{
                outline: 2px solid #d8d8d850;
                background-color: #cfcfcf;
            }
        }
        &.error{
            
            background-color: #EE6363;
            color: white;
            &:hover{
                outline: 2px solid #EE636350;
                background-color: #f57676;
            }
        }
    }
    &.outlined{
        border: none;
        &.neutral{
            background-color: #F1F1F1;
            color: #999999;
        }
        &.primary{
            background-color: #EBF2FF;
            color: #3860AD;
            border: 1px solid #3860AD;
            &:hover{
                color: #3860AD;
                background-color: #EBF2FF;
                border: 1px solid #3860AD;
            }
        }
    }
}