.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu-btn {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    @media (max-width: 500px) {
        height: 50px;
        aspect-ratio: 1/1;
    }
    &:hover{
        background-color: #EBF2FF;
    }
    &.active{
        background-color: #c7d2e7;
    }
}