.backgrounds{
    padding: 1rem;
    display: grid;
    overflow: overlay;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    .background-wrapper{
        display: flex;
        flex-direction: column;
        &.selected {
            img{
                border: 1px solid #3860AD;
                outline: 3px solid #5C90F370;
            }
            .background-name{
                color: #3860AD;
            }
        }
        img{
            border: 1px solid transparent;
            border-radius: 6px;
            box-shadow: 0px 3px 5px -1px #00000020, 0px 6px 10px 0px #00000014, 0px 1px 18px 0px #00000012;
            aspect-ratio: 16/9;
            flex: 1;
            object-fit: cover;
            object-position: center top;
            width: 100%;
           
        }
        .background-name{
            text-align: center;
            color: #666666;
        }
    }
}