.video-form{
    display: flex;
    height: 100%;
   
    .preview-card{
        padding: 20px;
        background-color: #F4F4F4;
        border-radius: 20px;
        width: 50%;
        display: flex;
        flex-direction: column;
        .preview-video{
            flex: 1;
            min-height: 50%;
            background-size: cover;
            border-radius: 20px;
            background-repeat: no-repeat;
            background-position: center top;
        }
        .transcript-wrapper{
            flex: 1;
            margin: 10px 0;
            position: relative;
            background-color: white;
            border-radius: 20px;
            min-height: 130px;
            display: flex;
            flex-direction: column;
            .button{
                margin: 10px 0;
                margin-left: 30px;
                align-self: flex-start;
            }
            textarea{
                flex: 2;
                margin: 15px;
                background-color: transparent;
                border: none;
                outline: none;
                resize: none;
            }
        }
    }
    .video-options {
        width: 50%;
        padding: 10px;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        .tabs-wrapper{
            flex-wrap: wrap;
            margin-bottom: 1rem;
            padding: 0 1rem;
            display: flex;
            gap: 1rem;
            justify-content: flex-start;
            .button{
                &.active{
                    color: #3860AD
                }
            }
        }
        .option-wrapper{
            overflow: overlay;
            padding: 1rem;
            height: 100%;
        }
    }
    @media (max-width: 860px) {
        margin-bottom: 50px;
        overflow: overlay;
        height: auto;
        flex-direction: column;
        .preview-card{
            padding: 10px;
            .transcript-wrapper{
                textarea{
                    margin: 8px;
                }
            }
            .preview-video{
                height: 200px;
                flex: initial;
            }
        }
        .video-options{
            margin-bottom: 30px;
            overflow: initial;
        }
        .preview-card, .video-options{
            width: auto;
        }
        .option-wrapper{
            overflow: initial;
        }
        .actors{
            grid-template-columns: 1fr;
        }
        
    }
}
.header-modal{
    z-index: 1000000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffffd1;
    display: flex;
    padding-left: 142px;
    @media (max-width: 860px) {
        padding: 20px;
    }
}