.page-layout{
    padding: 30px;
    height: calc(100% - 164px);
    flex: 1;
    @media (max-width: 860px) {
        padding: 20px;
        overflow: overlay;
    }
    &.overflow {
        overflow: overlay;
    }
    &.centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}