.page-layout{
    padding: 40px;
    overflow: scroll;
    flex: 1;
    &.centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}