.sidebar {
    position: relative;
    width: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
    padding: 10px 0;
    border-right: 1px solid #e6e6e6;
    > * {
        width: 60px;
    }
    .sidebar-logo {
        height: 60px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            height: 45px;
            width: 45px;
        }
        &:hover{
            background-color: #EBF2FF;
        }
    }
    
    .menu {
        flex:1
    }
    .profile-picture {
        width: 46px;
        height: 46px;
        background-color: crimson;
        border-radius: 46px;
    }
}